@font-face {
    font-family: Bebas;
    src: url(../Fonts/BebasNeue-Regular.otf);
}
@font-face {
    font-family: Akira;
    src: url(../Fonts/Akira\Expanded\Demo.otf);
}
@font-face {
    font-family: code;
    src: url(../Fonts/CodeSaver-Regular.otf);
}
